
body {
   background: linear-gradient(#719fb0, #a0c1b8)no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.my-image{
   width: 250px;
   height: 250px;
   display: flex;
   border-style: ridge;
   border-width: 10px;
   margin: 50px 370px;
   background: cornflowerblue;
   
  
}
.move{
   text-align: center;
}
h1 {
    font-size: 25px;
    font-weight: 100px;
    color: rgb(32, 13, 77);
    border: 5px solid white;
    border-radius: 8px;
    padding: 20px;
    background: #2978b5;

    
    
   
}
h2 {
    border-top-right-radius: 200px;
    color: rgb(56, 45, 45);
}
h6 {
    margin-left: 10%;
    margin-top: 1%;
}

 p {
    font-size: 26px;
    color: cornsilk;
    
 }
.ban-thai-pic {
    border-radius: 50%;
    border: solid;
    width: 25%;
    
}
.avedafi-pic {
    border-radius: 50%;
    border: solid;
    width: 25%;

}
.last-section {
    padding-top: 50px;
    margin: 25px 20px;
}
.occupations {
    font-size: 20px;
}
a:hover {
    color:magenta;
}

u:hover{
    color:magenta
}

@media (max-width: 305px) {
   h1, h2 {
      text-align: center;
        
    }
    img{
        margin-left: 100px;
    }

} 

/* @media screen and (max-width: 600px) {
    body {
        background-color: rgb(8, 8, 4);
        color: #fff;
    }
}  */

