
body {
   background: linear-gradient(#719fb0, #a0c1b8)no-repeat;
   background-size: cover;
   /* background-attachment: fixed;  */
  }

.text-center {
    margin-top: 40px;
}

.my-image{
   
   display: grid;
   margin: 50px 420px;
   
}

@media screen and (max-width: 300px) {
    div.my-image {
      display: none;
    }
  }
.move{
   text-align: center;
}

h1 {
    color: #fff;
    margin-top: 3em;
}

h2 {
    
    color: rgb(56, 45, 45);
}

h6 {
    margin-left: 10%;
    margin-top: 1%;
}

 p {
    font-size: 26px;
    color: cornsilk;
    
 }

.last-section {
    padding-top: 50px;
    margin: 25px 600px; 
    font-size: 40px;
    
}



@media (max-width: 305px) {
   h1, h2, h6, p {
      text-align: center;
        
    }

    img {
        margin-left: 100px;
    }

} 

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(8, 8, 4);
        color: #fff;
    }
} 

